WEB_ORIGIN=https://quiz.henrikrank.ee:3000 # Default: http://quiz.henrikrank.ee:3000, for allow all origins use '*'
SOCKET_URL=https://quiz.henrikrank.ee:3001 # Default: http://quiz.henrikrank.ee:3001
