WEB_ORIGIN=https://quiz.henrikrank.ee # Public web origin, for allow all origins use '*'
SOCKET_URL=https://quiz.henrikrank.ee # Public socket origin; proxy /socket.io to the socket server in HTTPS deployments
SOCKET_PORT=3001 # Internal socket server port
